<div class="SO_FormView">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'O_FormViewHalf'}) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="M_VacancyStep">
      <h2 class="A_Subtitle">Регистрация</h2>
      <div class="W_VacancyFields">
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'A_TextField', placeholder: 'Почта' %>
        </div>
        <div class="field">
          <%= f.password_field :password, autocomplete: "new-password", class: 'A_TextField', placeholder: 'Пароль' %>
        </div>
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'A_TextField', placeholder: 'Повторите пароль' %>
        </div>
        <div class="actions">
          <%= f.submit "Зарегистрировать", class: 'A_Button' %>
        </div>
      </div>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
  <div class="O_FormViewHalf">
    <img src="../images/A_FormVisual-1.jpg" class="A_FormImage" alt="">
  </div>
</div>