<%= link_to vacancy_path(vacancy), class: "M_VacancyCard" do %>
  <div class="W_VacancyCardStack">
    <h2 class="A_VacancyTitle"><%= vacancy.title %></h2>
    <div class="W_VacancyChips">
      <% if vacancy.salary.present? %>
        <div class="A_VacancyChips U_Salary">
          <%= vacancy.salary %>
        </div>
      <% end %>  
      <% if vacancy.employment_type.present? %>
        <div class="A_VacancyChips <%= case vacancy.employment_type
          when "Фулл-тайм" then "U_Full-time"
          when "Парт-тайм" then "U_Part-time"
          when "Стажировка" then "U_Intertship"
          else "U_Error"
        end %>">
          <%= vacancy.employment_type %>
        </div>
      <% end %>  
    </div>  
  </div>
  <div class="W_VacancyCardStack">
    <% if vacancy.location.present? %>
      <div class="W_VacancyInfoRow">
        <img class="Q_Location" src="../images/Q_Location.svg" alt="">
        <p class="A_VacancyCardBodyText U_Secondary"><%= vacancy.location %></p>
      </div>
    <% end %>
    <% if vacancy.company.present? %>
      <div class="W_VacancyInfoRow">  
        <p class="A_VacancyCardBodyText U_Medium"><%= vacancy.company.name %></p>
        <div class="A_Circle"></div>
        <p class="A_VacancyCardBodyText U_Secondary"><%= "#{time_ago_in_words(vacancy.created_at)} назад" %></p>
      </div>
    <% end %>
  </div>
<% end %>