<turbo-frame id="section_<%= section.id %>_title" class="A_UserCard U_Divider">
  <%= form_with model: section, 
                url: user_section_path(section.user, section),
                method: :patch, 
                data: { turbo_frame: "section_#{section.id}_title" } do |f| %>
    <%= f.text_field :title, 
                     maxlength: 24, 
                     placeholder: "Название секции", 
                     class: "A_CardsSectionTitle U_Input #{'U_Empty' if section.title.blank?}" %>
    <div class="W_CardButtons">
      <% if current_user == section.user %>
        <div class="A_CardButton U_Color" data-action="click->portfolio#submitForm">
          <img src="../images/Q_CardMarkIcon.svg" alt="">
        </div>
        <!-- Add batch save button for all cards in the section -->
        <div class="A_CardButton U_BatchSave" data-action="click->portfolio#batchSaveSection">
          <img src="../images/Q_SaveAllIcon.svg" alt="Save All">
          <span class="A_BatchSaveText">Save All</span>
        </div>
        <!-- Add reordering buttons -->
        <% unless section.position == 1 %>
          <%= link_to move_up_user_section_path(section.user, section), 
                data: { turbo_method: :patch },
                class: "A_CardButton" do %>
            <img src="../images/Q_SectionMoveUpIcon.svg" alt="">
          <% end %>
        <% end %>
        <% unless section.position == section.user.sections.count %>
          <%= link_to move_down_user_section_path(section.user, section), 
                data: { turbo_method: :patch },
                class: "A_CardButton" do %>
            <img src="../images/Q_SectionMoveDownIcon.svg" alt="">
          <% end %>
        <% end %>
        <%= link_to user_section_path(section.user, section),
              data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this section and all its cards?" },
              class: "A_CardButton" do %>
          <img src="../images/Q_CardDeleteIcon.svg" alt="">
        <% end %>
      <% end %>
    </div>
  <% end %>
</turbo-frame>