<%= form_with model: section, url: user_section_path(section.user, section), method: :patch, data: { controller: "section-create-card", "section-create-card-target": "cardsContainer"  }, html: { class: "M_UserCards" } do |form| %>
  <div class="A_UserCard U_Divider">
    <%= form.text_field :title, class: "A_CardsSectionTitle U_Input " %>
    <div class="W_CardButtons">
      <%= button_tag type: 'submit', class: "A_CardButton U_Color" do %>
        <img src="../images/Q_CardMarkIcon.svg" alt="">
      <% end %>
    </div>
  </div>
  <%= form.fields_for :cards, section.cards.order(:position) do |card_fields| %>
    <% card = card_fields.object %>
    <% case card.card_type %>
    <% when "text" %>
      <div class="A_UserCard U_Square <%= card.size == 'medium' ? 'U_Medium' : 'U_Square' %>" data-controller="card-size card-removal" data-card-removal-target="container" data-card-size-target="container">
        <div class="W_CardSizeButtons">
          <button type="button" class="A_CardSizeButton" data-action="click->card-size#setSquare">S</button>
          <button type="button" class="A_CardSizeButton" data-action="click->card-size#setMedium">M</button>
        </div>
        <div class="W_CardButtons">
          <div class="C_CardControls">
            <button type="button" class="A_CardButton" data-action="click->card-removal#markForDestroy">
              <img src="../images/Q_CardDeleteIcon.svg" alt="Delete">
            </button>
          </div>
        </div>
        <%= render "cards/forms/form_text_card", f: card_fields %>
      </div>
    <% when "image" %>
      <div class="A_UserCard U_Square U_Image <%= card.size == 'medium' ? 'U_Medium' : 'U_Square' %>" data-controller="card-size" data-card-size-target="container">
        <div class="W_CardSizeButtons">
          <button type="button" class="A_CardSizeButton" data-action="click->card-size#setSquare">S</button>
          <button type="button" class="A_CardSizeButton" data-action="click->card-size#setMedium">M</button>
        </div>
        <%= render "cards/forms/form_image_card", f: card_fields %>
      </div>
    <% when "job" %>
      <%= render "cards/forms/form_job_card", f: card_fields %>
    <% when "link" %>
      <div class="A_UserCard U_Square <%= card.size == 'medium' ? 'U_Medium' : 'U_Square' %>" data-controller="card-size" data-card-size-target="container">
        <div class="W_CardSizeButtons">
          <button type="button" class="A_CardSizeButton" data-action="click->card-size#setSquare">S</button>
          <button type="button" class="A_CardSizeButton" data-action="click->card-size#setMedium">M</button>
        </div>
        <div class="A_LinkCardUrl">
          <div class="W_LinkCardContent">
            <img src="../images/Q_<%= website_type(card.url).capitalize %>Icon.svg" alt="<%= website_type(card.url) %> icon" class="A_LinkCardIcon">
            <div class="W_LinkCardText">
              <%= render "cards/forms/form_link_card", f: card_fields %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <%= render "cards/forms/form_unknown_card", f: card_fields %>
    <% end %>
  <% end %>
  <%= render "cards/forms/new_text_card_fields",  section: @section, form: form %>
  <%= render "cards/forms/new_image_card_fields", section: @section, form: form %>
  <%= render "cards/forms/new_link_card_fields",  section: @section, form: form %>
  <div class="W_AddCard">
    <div class="W_AddCardOptions">
      <button class="M_ActionBarOption" data-action="click->section-create-card#addTextCard">
        <div class="A_ActionIcon">
          <img src="../images/Q_ActionCardIcon.svg" alt="">
        </div>
        <div class="W_ActionBarText">
          <p class="A_ActionTitle">Текст</p>
          <p class="A_ActionDescription">Блок с текстом</p>
        </div>
      </button>
      <button class="M_ActionBarOption" data-action="click->section-create-card#addImageCard">
        <div class="A_ActionIcon">
          <img src="../images/Q_ActionCardIcon.svg" alt="">
        </div>
        <div class="W_ActionBarText">
          <p class="A_ActionTitle">Изображение</p>
          <p class="A_ActionDescription">Jpeg, png, gif, webp</p>
        </div>
      </button>
      <button class="M_ActionBarOption" data-action="click->section-create-card#addLinkCard">
        <div class="A_ActionIcon">
          <img src="../images/Q_ActionCardIcon.svg" alt="">
        </div>
        <div class="W_ActionBarText">
          <p class="A_ActionTitle">Ссылка</p>
          <p class="A_ActionDescription">На внешний ресурс</p>
        </div>
      </button>
    </div>
    <div class="A_AddCardButton" data-portfolio-target="addButton" data-action="click->portfolio#toggleActionBar">
      <div class="W_AddCardButtonIcon">
        <img src="../images/Q_Plus.svg" alt="">
      </div>
      <p class="A_VacancyCardBodyText">Добавить карточку</p>
    </div>
  </div>
<% end %>