<turbo-frame id="card_<%= card.id %>" class="A_UserCard U_Divider" style="color: white;" data-controller="inline-divider-card" data-inline-divider-card-url-value="<%= user_section_card_path(card.section.user, card.section, card) %>" data-inline-divider-card-card-id-value="<%= card.id %>">
  <h3 class="A_CardsSectionTitle" contenteditable="<%= current_user == card.section.user %>" data-inline-divider-card-target="title">
    <%= card.title.presence || "Название секции" %>
  </h3>
  <div class="W_CardButtons">
    <% if current_user == card.section.user %>
      <div class="A_CardButton U_Color" data-action="click->inline-divider-card#save">
        <img src="../images/Q_CardMarkIcon.svg" alt="">
      </div>
    <% end %>
    <% if current_user == card.section.user %>
      <%= link_to user_section_card_path(card.section.user, card.section, card),
            data: { turbo_method: :delete },
            class: "A_CardButton" do %>
        <img src="../images/Q_CardDeleteIcon.svg" alt="">
      <% end %>
    <% end %>
  </div>
</turbo-frame>