<turbo-frame id="card_<%= card.id %>" class="A_UserCard U_Image <%= card.size == 'medium' ? 'U_Medium' : 'U_Square' %>" style="color: white;">
  <div class="W_CardButtons">
    <div class="C_CardControls">
      <% if current_user == card.section.user %>
        <%= link_to user_section_card_path(card.section.user, card.section, card),
            data: { turbo_method: :delete },
            class: "A_CardButton" do %>
          <img src="../images/Q_CardDeleteIcon.svg" alt="">
        <% end %>
      <% end %>
      <div class="A_CardButton">
        <img src="../images/Q_CardSettingsIcon.svg" alt="">
      </div>
    </div>
  </div>
  <p><%= card.title %></p>
  <% if card.image.attached? %>
    <%= image_tag card.image.variant(resize_to_limit: [900, 900]), class: 'Q_UserCardImage' %>
  <% end %>
</turbo-frame>