<turbo-frame id="card_<%= card.id %>" class="A_UserCard U_Link <%= card.size == 'medium' ? 'U_Medium' : 'U_Square' %>" data-controller="inline-text-card" data-inline-text-card-url-value="<%= user_section_card_path(card.section.user, card.section, card) %>">
  <% if current_user == card.section.user %>
    <div class="W_CardSizeButtons">
      <%= link_to "S", update_size_user_section_card_path(card.section.user, card.section, card, size: "square"),
            method: :patch,
            data: { turbo_method: :patch },
            class: "A_CardSizeButton" %>
      <%= link_to "M", update_size_user_section_card_path(card.section.user, card.section, card, size: "medium"),
            method: :patch,
            data: { turbo_method: :patch },
            class: "A_CardSizeButton" %>
    </div>
  <% end %>
  <div class="W_CardButtons">
    <div class="C_CardControls">
      <% if current_user == card.section.user %>
        <%= link_to user_section_card_path(card.section.user, card.section, card),
            data: { turbo_method: :delete },
            class: "A_CardButton" do %>
          <img src="../images/Q_CardDeleteIcon.svg" alt="">
        <% end %>
      <% end %>
      <div class="A_CardButton">
        <img src="../images/Q_CardSettingsIcon.svg" alt="">
      </div>
    </div>
  </div>
  <a href="<%= card.url %>" target="_blank" class="A_LinkCardUrl">
    <div class="W_LinkCardContent">
      <img src="../images/Q_<%= website_type(card.url).capitalize %>Icon.svg" alt="<%= website_type(card.url) %> icon" class="A_LinkCardIcon">
      <div class="W_LinkCardText">
        <h3 class="A_LinkCardTitle"><%= card.title %></h3>
        <%= simplified_domain(card.url) %>
      </div>
    </div>
  </a>
</turbo-frame>
